# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause

# QEMU boot and testing support.
#
# CONFIG_SCSI_VIRTIO is not enabled in the upstream ARM64 defconfig but is
# required when running QEMU with a virtio-scsi backend (e.g., for CI testing
# or the run-qemu script in qcom-deb-images).
#
# CONFIG_DRM_VIRTIO_GPU enables graphical output in QEMU via the virtio-gpu
# device. See https://www.qemu.org/docs/master/system/devices/virtio/virtio-gpu.html
CONFIG_SCSI_VIRTIO=m
CONFIG_DRM_VIRTIO_GPU=m
