# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause

# systemd-boot EFI stub support.
#
# systemd-boot does not support compressed kernel images (zImage/Image.gz).
# CONFIG_EFI_ZBOOT causes the kernel to be wrapped in an EFI application that
# decompresses it at boot, which systemd-boot cannot handle.
# Setting CONFIG_EFI_ZBOOT=y produces an uncompressed EFI image that
# systemd-boot can load directly.
#
# Reference: https://github.com/systemd/systemd/issues/23788
CONFIG_EFI_ZBOOT=y
