# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause

# USB CAN adapter support for demos and testing.
#
# Enables popular USB CAN hardware:
#   - CANable / Candlelight (gs_usb driver)
#   - Serial/USB serial CAN adapters (slcan driver)
#   - PEAK System PCAN-USB / PCAN-USB Pro for CAN 2.0b and CAN-FD (peak_usb driver)
CONFIG_CAN_SLCAN=y
CONFIG_CAN_GS_USB=y
CONFIG_CAN_PEAK_USB=y
